#header-nav{
    background-color:#f6b319 ;
    border-radius: 0;
    border: 0;
}
#logo-image{
    background:url('image.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}